<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.ClazzMapper">
<!--    新增班级-->
    <insert id="insert">
        insert into clazz(name, room, begin_date, end_date, master_id, subject, create_time, update_time)
        values (#{name}, #{room}, #{beginDate}, #{endDate}, #{masterId}, #{subject}, #{createTime}, #{updateTime})
    </insert>

<!--    更新班级-->
    <update id="updateById">
        update clazz
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="room != null and room != ''">
                room = #{room},
            </if>
            <if test="beginDate != null">
                begin_date = #{beginDate},
            </if>
            <if test="endDate != null">
                end_date = #{endDate},
            </if>
            <if test="masterId!= null">
                master_id = #{masterId},
            </if>
            <if test="subject != null and subject != ''">
                subject = #{subject},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        where id = #{id}
    </update>

<!--    根据id更新班级信息-->
    <delete id="deleteById">
        delete from clazz where id = #{id}
    </delete>

    <!--    分页条件查询-->
<!--    这个 SQL 语句的主要功能是从 clazz 表中查询班级信息，并根据提供的查询参数（如班级名称、开始时间、结束时间）进行过滤。
同时，它还会根据当前时间计算每个班级的状态，并将结果按更新时间降序排列。-->
    <select id="list" resultType="com.itheima.pojo.Clazz">
        select c.*, e.name masterName,
               (case when begin_date > now() then 'Not Started' when now() > end_date then 'Finished' else 'In Progress' end) status
        from clazz as c left join emp e on c.master_id = e.id
        <where>
            <if test="name != null and name != ''">
                c.name like concat('%',#{name},'%')
            </if>
            <if test="begin != null and end != null">
                and c.end_date between #{begin} and #{end}
            </if>
        </where>
        order by c.update_time desc
    </select>

<!--    根据id查询班级信息-->
    <select id="getById" resultType="com.itheima.pojo.Clazz">
        select c.*
        from clazz c
        where c.id = #{id}
    </select>

<!--    查询所有班级-->
    <select id="findAll" resultType="com.itheima.pojo.Clazz">
        select name, room, begin_date, end_date, master_id, subject, create_time, update_time
        from clazz;
    </select>
</mapper>