<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.StudentMapper">

<!--    修改学生信息-->
    <update id="update">
        update student
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="no != null and no != ''">
                no = #{no},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="idCard != null and idCard != ''">
                id_card = #{idCard},
            </if>
            <if test="isCollege != null and isCollege != ''">
                is_college = #{isCollege},
            </if>
            <if test="address != null and address != ''">
                    address = #{address},
            </if>
            <if test="graduationDate != null">
                graduation_date = #{graduationDate},
            </if>
            <if test="degree != null">
                degree = #{degree},
            </if>
            <if test="violationCount != null">
                violation_count = #{violationCount},
            </if>
            <if test="violationScore != null">
                    violation_score = #{violationScore},
            </if>
            <if test="clazzId != null">
                clazz_id = #{clazzId},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

<!--    违规处理-->
    <update id="updateViolation">
        update student
        set violation_count = violation_count + 1,
            violation_score = violation_score + #{score},
            update_time = now()
        where id = #{id}
    </update>

    <!--    批量删除学生信息-->
    <delete id="delete">
        delete from student where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
                                #{id}
        </foreach>
    </delete>

    <!--    新增学生-->
<!--    <insert id="insert">-->
<!--        insert into student(name, no, gender, phone, id_card, is_college, address, degree, graduation_date, clazz_id, violation_count, violation_score, create_time, update_time)-->
<!--        values(#{name}, #{no}, #{gender}, #{phone}, #{idCard}, #{isCollege}, #{address}, #{degree}, #{graduationDate}, #{clazzId}, #{violationCount}, #{violationScore}, #{createTime}, #{updateTime})-->
<!--    </insert>-->

    <!--   分页条件查询-->
    <select id="list" resultType="com.itheima.pojo.Student">
        select s.*, c.name clazzName
        from student s left join clazz c on s.clazz_id = c.id
        <where>
            <if test="name != null and name != ''">
                s.name like concat('%',#{name},'%')
            </if>
            <if test="degree != null">
                and s.degree = #{degree}
            </if>
            <if test="clazzId != null">
                and s.clazz_id = #{clazzId}
            </if>
        </where>
        order by s.update_time desc
    </select>

<!--    统计学生学历-->
    <select id="countStudentDegreeData" resultType="java.util.Map">
        select
            (case student.degree
                when 1 then 'Grade-1'
                when 2 then 'Grade-2'
                when 3 then 'Grade-3'
                when 4 then 'Grade-4'
                when 5 then 'Grade-5'
                when 6 then 'Grade-6'
                when 7 then 'Grade-7'
                when 8 then 'Grade-8'
                when 9 then 'Grade-9'
                when 10 then 'Grade-10'
                else 'Else' end) name, count(*) value
        from student
        group by degree
        order by degree
    </select>
</mapper>